@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  
  .login100-form-title {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
  }


.form-area {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}